body{
    margin: 0 px;
    padding: 0px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
html{
    font-family: 'Roboto', sans-serif;
}
/* section header*/
header{
    height: 290px;
    /*345*/

}

header nav{
    height: 82px;
    background: white;
    box-shadow: none;
}

nav .brand-logo{
    height: 100px;
}

nav .brand-logo img{
    width: 200px;
    padding-top: 4px;

}

img.responsive-img{
    height: 90px;
    max-width: 120%;
}
header nav ul{
    height: 100px;
    margin-top: 10px;
}
header ul  a{
    color: grey;
}
nav a{
    color: black;
}
.btn{
    background-color:  black;
}
.header-main-pic {
    width: 100%;
    height: 220px;
    background-image: url('../assets/img/imgindexsmall.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-top: 5px;
}
@media only screen and (max-width: 600px){
    img.responsive-img {
    height: 70px;
    max-width: 130%;}
    nav .brand-logo img{
    padding-top: 15px;
    }

}



@media (min-width: 640px) {
    .header-main-pic{
        background-image: url('../assets/img/imgnindex.jpg');
    }


}
/* section header*/


/* section main*/
.card .card-image img{
    height: 190px;
}

.tituloh1{
    text-align: center;
    font-size: 3rem;
    color: #808080;
    font-family: 'Kaushan Script', cursive;

}
.tituloh2{
    text-align: center;
    font-size: 2.2rem;
    color: #808080;
    font-family: 'Kaushan Script', cursive;
}
.tituloh3{
    text-align: center;
    font-size: 1.6rem;
    color: #808080;
    font-family: 'Kaushan Script', cursive;
}
.introduccion{
    font-size: 1.2rem;
}
.carousel{
    height: 315px;
}
p{
    text-align: justify;
}

/* section main*/

/* section footer*/
footer.page-footer{
    height: 145px;
    padding-top: 10px;
    bottom: 0;
    background-image: url('../assets/img/img-footer-ensalza.png');
}
.lyoutube,.lemail{
    margin-top: 30px;
    width: 50px;
    height: 50px;
}
.linkdln{
    margin-top: -5px;
    width: 23px;
    height: 23px;
    padding-top: 5px;
}
@media only screen and (max-width: 995px){
    footer.page-footer {
        display: flex;
        min-height: 50vh;
        flex-direction: column;
}
}

/* section footer*/


/* section media responsive*/
@media only screen and (max-width: 992px){
    nav .brand-logo {
       left: 83%;
       transform: translateX(-50%);
}
}

/* section media responsive*/

/* pagina contacto*/
.two-col{
    padding-top: 40px;
}

.bannerlateral{
    width: 100%;
    height: 600px;
}