{% extends "index.html" %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col s12 m9">
          <div class="card-panel">
              <form action="">
                 <div class="row section">
                   <div class="input-field col s12 m6 ">
                       <input id= "first-name"type="text" class="validate">
                       <label for="first-name">Nombres</label>
                   </div>
                   <div class="input-field col s12 m6 ">
                      <input id= "email"type="text" class="validate">
                      <label for="email">Correo Electrónico</label>
                   </div>
                 </div> 
                 <div class="row">
                    <div class="row section">
                        <div class="input-field col s12 m6 ">
                            <input id= "city"type="text" class="validate">
                            <label for="city">Ciudad</label>
                        </div>
                        <div class="input-field col s12 m6 ">
                           <input id= "phone"type="text" class="validate">
                           <label for="phone">Télefono Móvil</label>
                        </div>
                      </div>  
                 </div>
                 <div class="row">
                    <div class="row section">
                         <div class="input-field col s12 ">
                            <textarea id="textarea1" class="materialize-textarea"></textarea>
                            <label for="textarea1">Mensaje</label>
                         </div>
                      </div>  
                 </div>
                 <div class="section">
                     <div class="row">
                         <div class="col8">
                             <button class="btn waves effect waves light center-align ">Enviar
                                 <i class="material-icons right">send</i>
                             </button>
                         </div>
                     </div>
                 </div>
              </form>
          </div>
        </div>
        <div class="col s12 m3 ">
            <a href="/"><img class="bannerlateral z-depth-4" src="{{url_for('static', filename='assets/img/banner-lat-cont.png')}}" alt="Logo de la página"></a>
          </div>
    </div>
</main>

{% endblock %}