{% extends "index.html" %}

{% block content %}
<section>
   <div class="row">
     <div class="col s12">
        <h2 class="tituloplc">Proyecto programación de plc B&R</h2>
     </div>
   </div>
</section>
<section class="container">
<section class="section">
  <div class="row">
    <div class="col s12 m6 ">
      <p>Un controlador lógico programable, más conocido por sus siglas en inglés <a href="https://es.wikipedia.org/wiki/Controlador_l%C3%B3gico_programable" target="_blank">PLC</a> (Programmable Logic Controller) o por autómata programable, es una computadora utilizada en la ingeniería automática o automatización industrial, para automatizar procesos electromecánicos, electroneumáticos, electrohidráulicos, tales como el control de la maquinaria de la fábrica en líneas de montaje u otros procesos de producción, así como atracciones mecánicas.</p>
      <p>Nuestro equipo de trabajo cuenta con la habilidad de <a href="Scadaweb">programar</a>  cualquier dispositivo PLC, en un lenguaje como Ladder, Basic, C++, FUB, STL , además de diversas marcas comerciales como : Mitsubishi, Siemens, B&R, Allen Bradley , Schneider electric, Omron , Panasonic, Weintek etc.</p>
      <p>De la mano a la programación de estos dispositivos también se programan las interfaces graficas hombre maquina o más comúnmente conocidas como HMI de las marcas comerciales.</p>
    </div>
    <div class="col s12 m6 ">
      <p>En el siguiente video se puede observar un proyecto desarrollado con un dispositivo PLC B&R, en el cual se implementó  el montaje eléctrico y electrónico, la función principal de esta máquina  es realizar la soldadura de varillas  en unos marcos de acero, el control de la corriente y la fusión por soldadura se realiza de manera controlada.</p>
      <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/vG28k1JrnN4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</section>
</section>
<!--<section class="section">
  <div class="row">
    <div class="carousel">
      <a class="carousel-item" href="proyectoplc"><img src="{{url_for('static', filename='assets/img/card3mitsubishi.jpg')}}"></a>
      <a class="carousel-item" href="Scadaweb"><img src="{{url_for('static', filename='assets/img/card2formapol.jpg')}}"></a>
      <a class="carousel-item" href="#three!"><img src="{{url_for('static', filename='assets/img/card4diseñoweb.png')}}"></a>
    </div>
  </div>
</section>-->

{% endblock %}