{% extends "index.html" %}

{% block content %}
<section>
   <div class="row">
     <div class="col s12">
        <h2 class="tituloplc">Nuestros Proyectos y Casos de Exitó</h2>
     </div>
   </div>
</section>
<section class="container">
 <section class="section">
  <div class="row">
      <div class="col s12 m6 l4">
        <h5>Proyecto PLC B&R</h5>
        <div class="card small">
            <div class="card-image">
                <img src="{{url_for('static', filename='assets/img/interface-hombre-m.jpg')}}" alt="">
            </div>
            <div class="card-content">
                <p>En el presente proyecto se realizó el montaje y la configuración de un PLC de la marca B&R. </p>
            </div>
            <div class="card-action">
                <a href="proyecto-plc">Mas información</a>
            </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <h5>Proyecto Scada Web</h5>
        <div class="card small">
            <div class="card-image">
                <img src="{{url_for('static', filename='assets/img/scadaw.jpg')}}" alt="">
            </div>
            <div class="card-content">
                <p>En el presente proyecto se desarrolló una interfaz web basada en el concepto de sistema SCADA. </p>
            </div>
            <div class="card-action">
                <a href="Scada-web">Mas información</a>
            </div>
        </div>
      </div>
      <div class="col s12 m6 l4">
        <h5>Páginas Web</h5>
        <div class="card small">
            <div class="card-image">
                <img src="{{url_for('static', filename='assets/img/paginaweb.jpg')}}" alt="">
            </div>
            <div class="card-content">
                <p>Diseñamos páginas web a la medida del cliente, nuestras paginas son responsivas y amigables con el usuario. </p>
            </div>
            <div class="card-action">
                <a href="paginas-web">Mas información</a>
            </div>
        </div>
      </div>
   </div>
 </section>
</section>
<!--<section class="section">
  <div class="row">
    <div class="carousel">
      <a class="carousel-item" href="proyectoplc"><img src="{{url_for('static', filename='assets/img/card3mitsubishi.jpg')}}"></a>
      <a class="carousel-item" href="Scadaweb"><img src="{{url_for('static', filename='assets/img/card2formapol.jpg')}}"></a>
      <a class="carousel-item" href="#three!"><img src="{{url_for('static', filename='assets/img/card4diseñoweb.png')}}"></a>
    </div>
  </div>
</section>-->

{% endblock %}